/*  DESKTOP Mobile QUERY*/
@media (min-width: 300px) and (max-width: 768px) {
    /* Define o fundo escuro de overlay */
        body {
            background-color: #ffffff00;
        }
        .edit-modal {
            position: absolute;
            top: 100px;
            left: 500px;
            width: 35%;
            height: 23%;
            background-color: #f4f4f4;
            border: 1px solid #022031 ;
            border-radius: 13px;
            font-family: 'Geosanslight', sans-serif;
            font-size: 20px;
        }
        .edit-modal input {
            border-radius: 13px;
            border: 1px solid #022031;
            margin-left: 15px;
            padding: 5px 0px;
            font-family: 'Geosanslight', sans-serif;
            font-size: 18px;
            text-align: center;
        }
        .edit-modal button {
            font-family: 'Geosanslight', sans-serif;
            font-size: 18px;
            border: 1px solid #022031;
            background-color: #06A1B4;
            padding: 7px;
            margin-left: 5px;
            margin-right: 5px;
            color: white;
            border-Radius: 13px;
            cursor: pointer;
            transition: background-color 1s ease;
        }
        .edit-modal button:hover {
            background-color: #022031;
        }
        .bottomBtns {
            padding: 15px 0px;
            display: flex;
            justify-content: space-around;
        }
        .modal-confirmoverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); /* Fundo translúcido */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 20; /* Mantém o modal acima dos outros elementos */
        }

        .modal-confirmcontent {
            background-color: #fff;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 13px;
            margin: 0 auto;
            width: 55%;
            height: auto;
            position: relative; /* Para o botão de fechar */
            display: flex; /* Usar flexbox para alinhar o conteúdo */
            flex-direction: column; /* Os elementos devem ser empilhados verticalmente */
            justify-content: center;
            text-align: center;
        }

        .indicator-container {
            display: flex;
            justify-content: center; /* Centraliza as bolinhas */
            margin-top: -20px;
            margin-bottom: 20px;
            cursor: pointer;
        }

        .indicator {
            width: 10px; /* Tamanho da bolinha */
            height: 10px;
            border-radius: 50%; /* Faz a bolinha redonda */
            background-color: #ccc; /* Cor padrão */
            margin: 0 5px; /* Espaço entre as bolinhas */
            cursor: pointer; /* Cursor de pointer ao passar o mouse */
            transition: background-color 0.3s; /* Transição suave na cor */
        }

        .indicator.active {
            background-color: #06a0b4; /* Cor da bolinha ativa */
        }

        #procedBox {
            height: 140px;
            margin-top: -10px;
            margin-bottom: 30px;
            text-align: center;
            display: block;
        }
        #procedBox p {
            margin-top: -10px;
        }

        .calendarioDiv {
            margin-bottom: -25px;
        }

        .datas {
            padding: 10px;
            margin: 10px 10px 20px;
            border: 1px solid #022031;
            border-Radius: 13px;
            cursor: pointer;
            transition: background-color 1s ease, color 0.8s ease;
        }
        .datas:hover {
            color: white;
            background-color: #022031;
        }
        .datas.active {
            color: white;
            background-color: #022031;
        }

        .textConfirmModal {
            justify-content: center;
            padding: 20px;
            text-align: center;
        }
        .textConfirmModal h3 {
            text-align: center;
            margin: 0 auto;
        }
        .textConfirmModal p {
            text-align: center;
            margin: 0 auto;
            transform: translateX(-50px);
        }
        #delBtn {
            margin: 0 auto;
            margin: 10px;
            font-size: 18px;
        }
        #delBtn:hover {
            background-color: #022031;
        }

        .editModalOverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); /* Fundo translúcido */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1000;
        }
        .editModalContent {
            background-color: #fff;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            padding: 15px;
            border-radius: 13px;
            width: 60%;
            height: auto;
            position: relative; /* Para o botão de fechar */
            display: flex; /* Usar flexbox para alinhar o conteúdo */
            flex-direction: column; /* Os elementos devem ser empilhados verticalmente */
            justify-content: center;
            text-align: center;
        }
        .editModalContent h2 {
            font-size: 24px;
        }
        .editModalContent label {
            font-size: 30px;
            margin-right: 15px;
        }
        .editModalContent input {
            font-family: 'Geosanslight', sans-serif;
            font-size: 20px;
            margin: 15px 40px;
            padding: 0px 15px;
            border-radius: 30px;
            letter-spacing: 2px;
            height: 50px;
            width: 85px;
        }
        #leftInput {
            width: 150px;
            text-align: center;
            padding-right: 10px;
            padding-left: 10px;
            text-decoration: none;
        }
        #rightInput {
            width: 95px;
            text-align: center;
            padding: 0px 10px;
        }

        .createProcedtxt {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .createProcedtxt label {
            font-size: 24px;
        }
        .createProcedtxt input {
            font-family: 'Geosanslight', sans-serif;
            margin-left: 20px;
            font-size: 24px;
            padding: 15px;
            border-radius: 13px;
        }
        }

/*  DESKTOP tablet QUERY*/
@media (min-width: 769px) and (max-width: 1360px) {
            /* Define o fundo escuro de overlay */
        body {
            background-color: #ffffff00;
        }
        .edit-modal {
            position: absolute;
            top: 100px;
            left: 500px;
            width: 35%;
            height: 23%;
            background-color: #f4f4f4;
            border: 1px solid #022031 ;
            border-radius: 13px;
            font-family: 'Geosanslight', sans-serif;
            font-size: 20px;
        }
        .edit-modal input {
            border-radius: 13px;
            border: 1px solid #022031;
            margin-left: 15px;
            padding: 5px 0px;
            font-family: 'Geosanslight', sans-serif;
            font-size: 18px;
            text-align: center;
        }
        .edit-modal button {
            font-family: 'Geosanslight', sans-serif;
            font-size: 18px;
            border: 1px solid #022031;
            background-color: #06A1B4;
            padding: 7px;
            margin-left: 5px;
            margin-right: 5px;
            color: white;
            border-Radius: 13px;
            cursor: pointer;
            transition: background-color 1s ease;
        }
        .edit-modal button:hover {
            background-color: #022031;
        }
        .bottomBtns {
            padding: 15px 0px;
            display: flex;
            justify-content: space-around;
        }
        .modal-confirmoverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); /* Fundo translúcido */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 20; /* Mantém o modal acima dos outros elementos */
        }

        .modal-confirmcontent {
            background-color: #fff;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 13px;
            width: 35%;
            height: auto;
            position: relative; /* Para o botão de fechar */
            display: flex; /* Usar flexbox para alinhar o conteúdo */
            flex-direction: column; /* Os elementos devem ser empilhados verticalmente */
            justify-content: center;
            text-align: center;
        }

        .indicator-container {
            display: flex;
            justify-content: center; /* Centraliza as bolinhas */
            margin-top: -20px;
            margin-bottom: 20px;
            cursor: pointer;
        }

        .indicator {
            width: 10px; /* Tamanho da bolinha */
            height: 10px;
            border-radius: 50%; /* Faz a bolinha redonda */
            background-color: #ccc; /* Cor padrão */
            margin: 0 5px; /* Espaço entre as bolinhas */
            cursor: pointer; /* Cursor de pointer ao passar o mouse */
            transition: background-color 0.3s; /* Transição suave na cor */
        }

        .indicator.active {
            background-color: #06a0b4; /* Cor da bolinha ativa */
        }

        #procedBox {
            height: 140px;
            margin-top: -10px;
            margin-bottom: 30px;
            text-align: center;
            display: block;
        }
        #procedBox p {
            margin-top: -10px;
        }

        .calendarioDiv {
            margin-bottom: -25px;
        }

        .datas {
            padding: 10px;
            margin: 10px 10px 20px;
            border: 1px solid #022031;
            border-Radius: 13px;
            cursor: pointer;
            transition: background-color 1s ease, color 0.8s ease;
        }
        .datas:hover {
            color: white;
            background-color: #022031;
        }
        .datas.active {
            color: white;
            background-color: #022031;
        }

        .textConfirmModal {
            justify-content: center;
            padding: 20px;
            text-align: center;
        }
        .textConfirmModal h3 {
            text-align: center;
            margin: 0 auto;
        }
        .textConfirmModal p {
            text-align: center;
            margin: 0 auto;
            transform: translateX(-120px);
        }
        #delBtn {
            margin: 0 auto;
            margin: 10px;
            font-size: 18px;
        }
        #delBtn:hover {
            background-color: #022031;
        }

        .editModalOverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); /* Fundo translúcido */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1000;
        }
        .editModalContent {
            background-color: #fff;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 13px;
            width: 35%;
            height: auto;
            position: relative; /* Para o botão de fechar */
            display: flex; /* Usar flexbox para alinhar o conteúdo */
            flex-direction: column; /* Os elementos devem ser empilhados verticalmente */
            justify-content: center;
            text-align: center;
        }
        .editModalContent h2 {
            font-size: 24px;
        }
        .editModalContent label {
            font-size: 30px;
            margin-right: 15px;
        }
        .editModalContent input {
            font-family: 'Geosanslight', sans-serif;
            font-size: 20px;
            margin: 15px 15px;
            padding: 0px 15px;
            border-radius: 30px;
            letter-spacing: 2px;
            height: 50px;
            width: 85px;
        }
        #leftInput {
            width: 150px;
            text-align: center;
            padding-right: 10px;
            padding-left: 10px;
            text-decoration: none;
        }
        #rightInput {
            width: 95px;
            text-align: center;
            padding: 0px 10px;
        }

        .createProcedtxt {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .createProcedtxt label {
            font-size: 24px;
        }
        .createProcedtxt input {
            font-family: 'Geosanslight', sans-serif;
            margin-left: 20px;
            font-size: 24px;
            padding: 15px;
            border-radius: 13px;
        }
}

/*  DESKTOP half hd QUERY*/
@media (min-width: 1361px) and (max-width: 1600px) {
            /* Define o fundo escuro de overlay */
        body {
            background-color: #ffffff00;
        }
        .edit-modal {
            position: absolute;
            top: 100px;
            left: 500px;
            width: 35%;
            height: 23%;
            background-color: #f4f4f4;
            border: 1px solid #022031 ;
            border-radius: 13px;
            font-family: 'Geosanslight', sans-serif;
            font-size: 20px;
        }
        .edit-modal input {
            border-radius: 13px;
            border: 1px solid #022031;
            margin-left: 15px;
            padding: 5px 0px;
            font-family: 'Geosanslight', sans-serif;
            font-size: 18px;
            text-align: center;
        }
        .edit-modal button {
            font-family: 'Geosanslight', sans-serif;
            font-size: 18px;
            border: 1px solid #022031;
            background-color: #06A1B4;
            padding: 7px;
            margin-left: 5px;
            margin-right: 5px;
            color: white;
            border-Radius: 13px;
            cursor: pointer;
            transition: background-color 1s ease;
        }
        .edit-modal button:hover {
            background-color: #022031;
        }
        .bottomBtns {
            padding: 15px 0px;
            display: flex;
            justify-content: space-around;
        }
        .modal-confirmoverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); /* Fundo translúcido */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 20; /* Mantém o modal acima dos outros elementos */
        }

        .modal-confirmcontent {
            background-color: #fff;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 13px;
            width: 35%;
            height: auto;
            position: relative; /* Para o botão de fechar */
            display: flex; /* Usar flexbox para alinhar o conteúdo */
            flex-direction: column; /* Os elementos devem ser empilhados verticalmente */
            justify-content: center;
            text-align: center;
        }

        .indicator-container {
            display: flex;
            justify-content: center; /* Centraliza as bolinhas */
            margin-top: -20px;
            margin-bottom: 20px;
            cursor: pointer;
        }

        .indicator {
            width: 10px; /* Tamanho da bolinha */
            height: 10px;
            border-radius: 50%; /* Faz a bolinha redonda */
            background-color: #ccc; /* Cor padrão */
            margin: 0 5px; /* Espaço entre as bolinhas */
            cursor: pointer; /* Cursor de pointer ao passar o mouse */
            transition: background-color 0.3s; /* Transição suave na cor */
        }

        .indicator.active {
            background-color: #06a0b4; /* Cor da bolinha ativa */
        }

        #procedBox {
            height: 140px;
            margin-top: -10px;
            margin-bottom: 30px;
            text-align: center;
            display: block;
        }
        #procedBox p {
            margin-top: -10px;
        }

        .calendarioDiv {
            margin-bottom: -25px;
        }

        .datas {
            padding: 10px;
            margin: 10px 10px 20px;
            border: 1px solid #022031;
            border-Radius: 13px;
            cursor: pointer;
            transition: background-color 1s ease, color 0.8s ease;
        }
        .datas:hover {
            color: white;
            background-color: #022031;
        }
        .datas.active {
            color: white;
            background-color: #022031;
        }

        .textConfirmModal {
            justify-content: center;
            padding: 20px;
            text-align: center;
        }
        .textConfirmModal h3 {
            text-align: center;
            margin: 0 auto;
        }
        .textConfirmModal p {
            text-align: center;
            margin: 0 auto;
            transform: translateX(-120px);
        }
        #delBtn {
            margin: 0 auto;
            margin: 10px;
            font-size: 18px;
        }
        #delBtn:hover {
            background-color: #022031;
        }

        .editModalOverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); /* Fundo translúcido */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1000;
        }
        .editModalContent {
            background-color: #fff;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 13px;
            width: 35%;
            height: auto;
            position: relative; /* Para o botão de fechar */
            display: flex; /* Usar flexbox para alinhar o conteúdo */
            flex-direction: column; /* Os elementos devem ser empilhados verticalmente */
            justify-content: center;
            text-align: center;
        }
        .editModalContent h2 {
            font-size: 24px;
        }
        .editModalContent label {
            font-size: 30px;
            margin-right: 15px;
        }
        .editModalContent input {
            font-family: 'Geosanslight', sans-serif;
            font-size: 20px;
            margin: 15px 15px;
            padding: 0px 15px;
            border-radius: 30px;
            letter-spacing: 2px;
            height: 50px;
            width: 85px;
        }
        #leftInput {
            width: 150px;
            text-align: center;
            padding-right: 10px;
            padding-left: 10px;
            text-decoration: none;
        }
        #rightInput {
            width: 95px;
            text-align: center;
            padding: 0px 10px;
        }

        .createProcedtxt {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .createProcedtxt label {
            font-size: 24px;
        }
        .createProcedtxt input {
            font-family: 'Geosanslight', sans-serif;
            margin-left: 20px;
            font-size: 24px;
            padding: 15px;
            border-radius: 13px;
        }
}

/*  DESKTOP half hd QUERY*/
@media (min-width: 1601px) and (max-width: 1920px) {
/* Define o fundo escuro de overlay */
        body {
            background-color: #ffffff00;
        }
        .edit-modal {
            position: absolute;
            top: 100px;
            left: 500px;
            width: 35%;
            height: 23%;
            background-color: #f4f4f4;
            border: 1px solid #022031 ;
            border-radius: 13px;
            font-family: 'Geosanslight', sans-serif;
            font-size: 20px;
        }
        .edit-modal input {
            border-radius: 13px;
            border: 1px solid #022031;
            margin-left: 15px;
            padding: 5px 0px;
            font-family: 'Geosanslight', sans-serif;
            font-size: 18px;
            text-align: center;
        }
        .edit-modal button {
            font-family: 'Geosanslight', sans-serif;
            font-size: 18px;
            border: 1px solid #022031;
            background-color: #06A1B4;
            padding: 7px;
            margin-left: 5px;
            margin-right: 5px;
            color: white;
            border-Radius: 13px;
            cursor: pointer;
            transition: background-color 1s ease;
        }
        .edit-modal button:hover {
            background-color: #022031;
        }
        .bottomBtns {
            padding: 15px 0px;
            display: flex;
            justify-content: space-around;
        }
        .modal-confirmoverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); /* Fundo translúcido */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 20; /* Mantém o modal acima dos outros elementos */
        }

        .modal-confirmcontent {
            background-color: #fff;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 13px;
            width: 35%;
            height: auto;
            position: relative; /* Para o botão de fechar */
            display: flex; /* Usar flexbox para alinhar o conteúdo */
            flex-direction: column; /* Os elementos devem ser empilhados verticalmente */
            justify-content: center;
            text-align: center;
        }

        .indicator-container {
            display: flex;
            justify-content: center; /* Centraliza as bolinhas */
            margin-top: -20px;
            margin-bottom: 20px;
            cursor: pointer;
        }

        .indicator {
            width: 10px; /* Tamanho da bolinha */
            height: 10px;
            border-radius: 50%; /* Faz a bolinha redonda */
            background-color: #ccc; /* Cor padrão */
            margin: 0 5px; /* Espaço entre as bolinhas */
            cursor: pointer; /* Cursor de pointer ao passar o mouse */
            transition: background-color 0.3s; /* Transição suave na cor */
        }

        .indicator.active {
            background-color: #06a0b4; /* Cor da bolinha ativa */
        }

        #procedBox {
            height: 140px;
            margin-top: -10px;
            margin-bottom: 30px;
            text-align: center;
            display: block;
        }
        #procedBox p {
            margin-top: -10px;
        }

        .calendarioDiv {
            margin-bottom: -25px;
        }

        .datas {
            padding: 10px;
            margin: 10px 10px 20px;
            border: 1px solid #022031;
            border-Radius: 13px;
            cursor: pointer;
            transition: background-color 1s ease, color 0.8s ease;
        }
        .datas:hover {
            color: white;
            background-color: #022031;
        }
        .datas.active {
            color: white;
            background-color: #022031;
        }

        .textConfirmModal {
            justify-content: center;
            padding: 20px;
            text-align: center;
        }
        .textConfirmModal h3 {
            text-align: center;
            margin: 0 auto;
        }
        .textConfirmModal p {
            text-align: center;
            margin: 0 auto;
            transform: translateX(-120px);
        }
        #delBtn {
            margin: 0 auto;
            margin: 10px;
            font-size: 18px;
        }
        #delBtn:hover {
            background-color: #022031;
        }

        .editModalOverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); /* Fundo translúcido */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1000;
        }
        .editModalContent {
            background-color: #fff;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 13px;
            width: 35%;
            height: auto;
            position: relative; /* Para o botão de fechar */
            display: flex; /* Usar flexbox para alinhar o conteúdo */
            flex-direction: column; /* Os elementos devem ser empilhados verticalmente */
            justify-content: center;
            text-align: center;
        }
        .editModalContent h2 {
            font-size: 24px;
        }
        .editModalContent label {
            font-size: 30px;
            margin-right: 15px;
        }
        .editModalContent input {
            font-family: 'Geosanslight', sans-serif;
            font-size: 20px;
            margin: 15px 15px;
            padding: 0px 15px;
            border-radius: 30px;
            letter-spacing: 2px;
            height: 50px;
            width: 85px;
        }
        #leftInput {
            width: 150px;
            text-align: center;
            padding-right: 10px;
            padding-left: 10px;
            text-decoration: none;
        }
        #rightInput {
            width: 95px;
            text-align: center;
            padding: 0px 10px;
        }

        .createProcedtxt {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .createProcedtxt label {
            font-size: 24px;
        }
        .createProcedtxt input {
            font-family: 'Geosanslight', sans-serif;
            margin-left: 20px;
            font-size: 24px;
            padding: 15px;
            border-radius: 13px;
        }
}