.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


#leftItems {
    display: flex;
    justify-content: space-around;
}

#leftItems h2 {
    font-family: 'Geosanslight', sans-serif;
    font-size: 35px;
    filter: drop-shadow(0px 0px 1px black);
    margin: 0 20px 0px 20px;
}

#newProcedbtn {
    font-family: 'Geosanslight', sans-serif;
    border-radius: 13px;
    font-size: 22px;
    padding: 10px 20px;
    margin: 0px 10px;
    background-color: #297d9400;
    color: #022031;
    border: 1px solid #022031;
    cursor: pointer;
    transition: background-color 0.7s, color 0.7s;
}
#newProcedbtn:hover {
    background-color: #022031;
    color: white;
}

#searchInput {
    border-radius: 13px;
    border: 1px solid #022031;
    padding: 10px;
    margin: 0px 20px;
    font-family: 'Geosanslight', sans-serif;
    font-size: 20px;
    color: black;
}

#filtrarBtn {
    font-family: 'Geosanslight', sans-serif;
    border-radius: 13px;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #297D94;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 50px;
    transition: background-color 0.5s;
}
#filtrarBtn:hover {
    background-color: #022031;
}

#txtproced {
    font-family: 'Geosanslight', sans-serif;
    font-size: 24px;
    margin: 0 30px;
    margin-bottom: -10px;
}
#price {
    font-family: 'Geosanslight', sans-serif;
    font-size: 20px;
    margin: 0 300px;
    margin-bottom: -10px;
}


ul {
    list-style-type: none;
    padding: 0;
}
.procedimentos-container {
    padding-bottom: 50px;
}

.procedimento-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #02203156;
    margin-bottom: 15px;
    padding: 0px; /* Adicione padding para espaço interno */
}

.nameProced {
    font-family: 'Geosanslight', sans-serif;
    font-size: 18px;
    margin: 0px 50px; /* Remover margens desnecessárias */
    flex: 1; /* Isso fará com que o nome ocupe o espaço disponível */
    transition: color 0.5s;
}

.nameProced:hover {
    color: #022031;
}

.valorProced {
    font-family: 'Geosanslight', sans-serif;
    font-size: 20px;
    margin: 0px 100px 0px 0px; /* Remover margens desnecessárias */
    flex: 0 0 100px; /* Defina uma largura fixa ou um valor desejado */
    text-align: center; /* Alinha o texto à direita */
    letter-spacing: 2px;
}

.icons {
    display: flex;
    align-items: center;
    margin-right: 100px; /* Ajuste conforme necessário */
    gap: 20px;
}
