      /*  SMARTPHONE PORTRAIT QUERY
        @media (min-width: 300px) and (max-width: 350px) {}

          @media (min-width: 351px) and (max-width: 415px) {}

            @media (min-width: 416px) and (max-width: 766px) {}

              /*  SMARTPHONE LANDSCAPE QUERY
                 @media (min-width: 768px) and (max-width: 1359px)
                   /*  DESKTOP HALF HD QUERY
                    @media (min-width: 1360px) and (max-width: 1600px) 
                        /*  DESKTOP FULL HD QUERY */
                          @media (min-width: 1601px) and (max-width: 1920px) {
                            .container {
                                display: flex;
                                width: 100%;
                                height: 70vh;
                                margin: -50px;
                            }
                            
                            /* Estilo do lado esquerdo - homeScreen */
                            .homeScreen {
                                margin: 50px;
                                background-color: rgba(212, 250, 238, 0);
                                width: 50%;
                                min-height: 100%; /* Torna o contêiner flexível em altura */
                                padding-bottom: 20px; /* Ajuste do padding */
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between; /* Posiciona os elementos no espaço disponível */
                            }                            
                            
                            .homeScreen h2 {
                                font-family: 'Geosanslight', sans-serif;
                                text-align: center;
                                margin-top: -50px;
                                margin-bottom: 150px;
                            }
                            
                            #LogoIugas {
                                width: 40vh;
                                display: block;
                                transform: translateY(-25px);
                                margin: 0 auto;
                                filter: drop-shadow(1px 1px 0px black);
                            }
                            
                            .form-container {
                                transform: translateY(-100px);
                                text-align: center;
                                width: 320px;
                                margin: 0 auto;
                            }
                            
                            .form-container h3 {
                                font-family: 'Geosanslight', sans-serif;
                                font-size: 24px;
                                color: #022031;
                            }
                            
                            .form-group {
                                padding: 5px;
                            }
                            
                            .form-group input {
                                font-family: 'Geosanslight', sans-serif;
                                border-radius: 13px;
                                height: 45px;
                                width: 279px;
                                padding-left: 10px;
                                font-size: 16px;
                                color: #022031;
                                background-color: #F1F5F4;
                                border: 1px solid #297D94;
                                margin-bottom: 10px;
                            }
                            .form-group input:focus {
                                color: #022031;
                                background-color: #e0f7fa; /* Cor do fundo ao focar */
                                border-color: #00796b; /* Cor da borda ao focar */
                                outline: none; /* Remove o contorno padrão do navegador */
                              }
                            
                            .form-group button {
                                font-family: 'Geosanslight', sans-serif;
                                font-size: 18px;
                                width: 279px;
                                height: 45px;
                                color: white;
                                background-color: #297D94;
                                border-radius: 13px;
                                border: none;
                                transition: 0.3s ease;
                            }
                            
                            .form-group button:hover {
                                color: #022031;
                                font-weight: bold;
                                border: 2px solid #022031;
                            }
                            .textoBottom {
                                text-align: center;
                                font-family: 'Geosanslight', sans-serif;
                                color: #022031;
                                font-size: 18px;
                                padding-top: 20px; /* Ajuste para controle de espaçamento */
                                margin-top: 50px; /* Evita margem negativa */
                                margin-bottom: 0; /* Remove margem negativa */
                            }
                            
                            .textoBottom a {
                                text-decoration: none;
                                color: #297D94;
                            }
                            
                            /* Estilo do lado direito - fundoScreen */
                            .fundoScreen {
                                width: 50%;
                                height: 100vh;
                                display: flex;
                                opacity: 0.9;
                                overflow: hidden;
                                margin: -50px;
                            }
                            
                            #fundoScreenImage {
                                width: 100%;
                                height: 100vh;
                                object-fit: cover;
                            }  
                          }
                            /*  DESKTOP 2K HD QUERY 
                              @media (min-width: 1921px) and (max-width: 2440px) {}
                                /*  DESKTOP 4K HD QUERY
                                  @media (min-width: 2441px) and (max-width: 3820px) {}
                                */