/*  SMARTPHONE PORTRAIT QUERY*/
@media (min-width: 300px) and (max-width: 350px) {
    .header {
      position: fixed;
      display: flex;
      justify-content: space-between;
      background-color: rgb(0, 0, 0);
      height: 65px;
      top: 0;
      font-family: 'Segoe UI', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      filter: drop-shadow(1px 1px 2px black);
      width: 100%;
      pointer-events: all;
      z-index: 9;
    }
    nav ul { 
      position: absolute;
      top: 40px;
      right: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 1);
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
    nav.open ul {
      transform: translateX(0);
    }
    
    nav ul li {
      margin: 20px 0;
    }
  
    .menu-toggle {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
      position: absolute;
      right: 15px;
      width: 30px;
      height: 25px;
      z-index: 10;
    }
    
    .menu-toggle div {
      width: 100%;
      height: 4px;
      background-color: #fff;
      transition: 0.3s ease;
    }
    
    nav ul li a {
      color: #fff;
      font-family: 'Geosanslight', sans-serif;
      text-decoration: none;
      padding: 10px 10px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    nav ul li a:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      border-radius: 155px;
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
      cursor: pointer;
    }

        /* Submenu escondido por padrão */
      .submenu {
        opacity: 0; /* Começa invisível */
        visibility: hidden; /* Submenu escondido */
        position: absolute;
        text-align: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        padding: 10px 10px;
        font-size: 18px;
        margin: 0 30px;
        width: 90%;
        top: 280px; /* Aparece logo abaixo do item principal */
        border-radius: 5px;
        z-index: 99;
        transition: opacity 1s ease-in, visibility 1s ease-in;
      }

      .submenu.open {
        opacity: 1; /* Visível */
        visibility: visible; /* Mostra o submenu */
        left: 0; /* Mantém alinhado ao item principal */
      }
      
      .submenu.closed {
        opacity: 0; /* Invisível */
        visibility: hidden; /* Esconde o submenu */
        left: -1000px; /* Mova para fora da tela se necessário */
      }

      .submenu li {
        margin: 10px 0;
      }

      .submenu li a {
        color: #fff;
        text-decoration: none;
      }

      .submenu li a:hover {
        color: #06A1B4;
      }

    .mentorias-btn {
      font-family: 'Geosanslight', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 155px;
      border-color: #00000000;
      color: #fff;
      padding: 8px 8px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    .mentorias-btn:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
    }

    #contato-btn {
      font-family: 'Geosanslight', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 155px;
      border-color: #00000000;
      color: #fff;
      padding: 8px 8px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    #contato-btn:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      border-radius: 155px;
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
    }
    
    .hidden {
      opacity: 0;
      transform: translateX(-20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .visible {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  
    #social-icons {
      flex-direction: column;
    }
  
    #social-icons img {
      width: 48px;
      height: 48px;
      margin-left: -20px;
      cursor: pointer;
    }
    #social-icons a {
      width: 10px;
      height: 10px;
      padding: 30px;
      cursor: pointer;
      display: inline-block;
      justify-content: space-between;
      margin: -10px 10px;
    }
    
    .ContainerFlex {
      display: flex;
      justify-content: space-between;
    }
    
    #logo {
      margin-top: 1px;
      margin-left: -30px;
      left: 10px;
      padding: 0px 10px;
      width: 120px;
      height: 60px;
      transition: 1s all;
    }
    #logo:hover {
      transform: translateY(-10px);
      filter: drop-shadow(3px 3px 0px black);
    }
  }

  @media (min-width: 351px) and (max-width: 415px) {
    .header {
      position: fixed;
      display: flex;
      position: space-between;
      transition: background-color 1s ease;
      background-color: rgb(0, 0, 0);
      height: 65px;
      top: 0;
      font-family: 'Segoe UI', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      filter: drop-shadow(1px 1px 2px black);
      width: 100vw;
      pointer-events: all;
      z-index: 9;
    }
    nav ul { 
      position: absolute;
      top: 40px;
      right: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 1);
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
    nav.open ul {
      transform: translateX(0);
    }
    
    nav ul li {
      margin: 20px 0;
    }
  
    .menu-toggle {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
      position: absolute;
      right: 15px;
      width: 30px;
      height: 25px;
      z-index: 10;
    }
    
    .menu-toggle div {
      width: 100%;
      height: 4px;
      background-color: #fff;
      transition: 0.3s ease;
    }
    
    nav ul li a {
      color: #fff;
      font-family: 'Geosanslight', sans-serif;
      text-decoration: none;
      padding: 10px 10px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    nav ul li a:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      border-radius: 155px;
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
      cursor: pointer;
    }

        /* Submenu escondido por padrão */
      .submenu {
        opacity: 0; /* Começa invisível */
        visibility: hidden; /* Submenu escondido */
        position: absolute;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        padding: 10px 20px;
        top: 280px; /* Aparece logo abaixo do item principal */
        right: 0;
        font-size: 20px;
        margin: 0 30px;
        width: 90%;
        border-radius: 5px;
        z-index: 99;
        transition: opacity 1s ease, visibility 1s ease;
      }

      .submenu.open {
        opacity: 1; /* Visível */
        visibility: visible; /* Mostra o submenu */
        left: 0; /* Mantém alinhado ao item principal */
      }
      
      .submenu.closed {
        opacity: 0; /* Invisível */
        visibility: hidden; /* Esconde o submenu */
        left: -1000px; /* Mova para fora da tela se necessário */
      }

      .submenu li {
        margin: 10px 0;
      }

      .submenu li a {
        color: #fff;
        text-decoration: none;
      }

      .submenu li a:hover {
        color: #06A1B4;
      }

    .mentorias-btn {
      font-family: 'Geosanslight', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 155px;
      border-color: #00000000;
      color: #fff;
      padding: 8px 8px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    .mentorias-btn:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
    }

    #contato-btn {
      font-family: 'Geosanslight', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 155px;
      border-color: #00000000;
      color: #fff;
      padding: 8px 8px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    #contato-btn:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      border-radius: 155px;
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
    }
    
    .hidden {
      opacity: 0;
      transform: translateX(-20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .visible {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  
    #social-icons {
      flex-direction: column;
    }
  
    #social-icons img {
      width: 48px;
      height: 48px;
      margin-left: -20px;
      cursor: pointer;
    }
    #social-icons a {
      width: 10px;
      height: 10px;
      padding: 30px;
      cursor: pointer;
      display: inline-block;
      justify-content: space-between;
      margin: -10px 10px;
    }
    
    .ContainerFlex {
      display: flex;
      justify-content: space-between;
    }
    
    #logo {
      margin-top: 1px;
      left: 0px;
      margin-left: -30px;
      padding: 0px 10px;
      width: 120px;
      height: 60px;
      transition: 1s all;
    }
    #logo:hover {
      transform: translateY(-10px);
      filter: drop-shadow(3px 3px 0px black);
    }
  }
  @media (min-width: 416px) and (max-width: 766px) {
    .header {
      position: fixed;
      display: flex;
      position: space-between;
      transition: background-color 1s ease;
      background-color: rgb(0, 0, 0);
      height: 65px;
      top: 0;
      font-family: 'Segoe UI', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      filter: drop-shadow(1px 1px 2px black);
      width: 100vw;
      pointer-events: all;
      z-index: 9;
    }
    nav ul { 
      position: absolute;
      top: 40px;
      right: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 1);
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
    nav.open ul {
      transform: translateX(0);
    }
    
    nav ul li {
      margin: 20px 0;
    }
  
    .menu-toggle {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
      position: absolute;
      right: 15px;
      width: 30px;
      height: 25px;
      z-index: 10;
    }
    
    .menu-toggle div {
      width: 100%;
      height: 4px;
      background-color: #fff;
      transition: 0.3s ease;
    }
    
    nav ul li a {
      color: #fff;
      font-family: 'Geosanslight', sans-serif;
      text-decoration: none;
      padding: 10px 10px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    nav ul li a:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      border-radius: 155px;
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
      cursor: pointer;
    }

        /* Submenu escondido por padrão */
      .submenu {
        opacity: 0; /* Começa invisível */
        visibility: hidden; /* Submenu escondido */
        position: absolute;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        padding: 10px 20px;
        top: 280px; /* Aparece logo abaixo do item principal */
        right: 0;
        font-size: 22px;
        margin: 0 30px;
        width: 90%;
        border-radius: 5px;
        z-index: 99;
        transition: opacity 1s ease, visibility 1s ease;
      }

      .submenu.open {
        opacity: 1; /* Visível */
        visibility: visible; /* Mostra o submenu */
        left: 0; /* Mantém alinhado ao item principal */
      }
      
      .submenu.closed {
        opacity: 0; /* Invisível */
        visibility: hidden; /* Esconde o submenu */
        left: -1000px; /* Mova para fora da tela se necessário */
      }

      .submenu li {
        margin: 10px 0;
      }

      .submenu li a {
        color: #fff;
        text-decoration: none;
      }

      .submenu li a:hover {
        color: #06A1B4;
      }

    .mentorias-btn {
      font-family: 'Geosanslight', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 155px;
      border-color: #00000000;
      color: #fff;
      padding: 8px 8px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    .mentorias-btn:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
    }

    #contato-btn {
      font-family: 'Geosanslight', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 155px;
      border-color: #00000000;
      color: #fff;
      padding: 8px 8px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    #contato-btn:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      border-radius: 155px;
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
    }
    
    .hidden {
      opacity: 0;
      transform: translateX(-20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .visible {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  
    #social-icons {
      flex-direction: column;
    }
  
    #social-icons img {
      width: 48px;
      height: 48px;
      margin-left: -20px;
      cursor: pointer;
    }
    #social-icons a {
      width: 10px;
      height: 10px;
      padding: 30px;
      cursor: pointer;
      display: inline-block;
      justify-content: space-between;
      margin: -10px 10px;
    }
    
    .ContainerFlex {
      display: flex;
      justify-content: space-between;
    }
    
    #logo {
      margin-top: 0px;
      left: 0;
      margin-left: -30px;
      padding: 0px 10px;
      width: 120px;
      height: 60px;
      transition: 1s all;
    }
    #logo:hover {
      transform: translateY(-10px);
      filter: drop-shadow(3px 3px 0px black);
    }
  }
  /*  SMARTPHONE LANDSCAPE QUERY*/
  @media (min-width: 768px) and (max-width: 1359px) {
    .header {
      position: fixed;
      display: flex;
      position: space-between;
      transition: background-color 1s ease;
      background-color: rgb(0, 0, 0);
      height: 65px;
      top: 0;
      font-family: 'Segoe UI', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      filter: drop-shadow(1px 1px 2px black);
      width: 100vw;
      pointer-events: all;
      z-index: 9;
    }
    nav ul { 
      position: absolute;
      top: 40px;
      right: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 1);
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
    nav.open ul {
      transform: translateX(0);
    }
    
    nav ul li {
      margin: 20px 0;
    }
  
    .menu-toggle {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
      position: absolute;
      right: 15px;
      width: 30px;
      height: 25px;
      z-index: 10;
    }
    
    .menu-toggle div {
      width: 100%;
      height: 4px;
      background-color: #fff;
      transition: 0.3s ease;
    }
    
    nav ul li a {
      color: #fff;
      font-family: 'Geosanslight', sans-serif;
      text-decoration: none;
      padding: 10px 10px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    nav ul li a:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      border-radius: 155px;
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
      cursor: pointer;
    }

        /* Submenu escondido por padrão */
      .submenu {
        opacity: 0; /* Começa invisível */
        visibility: hidden; /* Submenu escondido */
        position: absolute;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        padding: 10px 20px;
        top: 280px; /* Aparece logo abaixo do item principal */
        right: 0;
        font-size: 22px;
        margin: 0 30px 0 120px;
        width: 70%;
        border-radius: 5px;
        z-index: 99;
        transition: opacity 1s ease, visibility 1s ease;
      }

      .submenu.open {
        opacity: 1; /* Visível */
        visibility: visible; /* Mostra o submenu */
        left: 0; /* Mantém alinhado ao item principal */
      }
      
      .submenu.closed {
        opacity: 0; /* Invisível */
        visibility: hidden; /* Esconde o submenu */
        left: -1200px; /* Mova para fora da tela se necessário */
      }

      .submenu li {
        margin: 10px 0;
      }

      .submenu li a {
        color: #fff;
        text-decoration: none;
      }

      .submenu li a:hover {
        color: #06A1B4;
      }

    .mentorias-btn {
      font-family: 'Geosanslight', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 155px;
      border-color: #00000000;
      color: #fff;
      padding: 8px 8px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    .mentorias-btn:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
    }

    #contato-btn {
      font-family: 'Geosanslight', sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 155px;
      border-color: #00000000;
      color: #fff;
      padding: 8px 8px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    #contato-btn:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      border-radius: 155px;
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
    }
    
    .hidden {
      opacity: 0;
      transform: translateX(-20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .visible {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  
    #social-icons {
      flex-direction: column;
    }
  
    #social-icons img {
      width: 48px;
      height: 48px;
      margin-left: -20px;
      cursor: pointer;
    }
    #social-icons a {
      width: 10px;
      height: 10px;
      padding: 30px;
      cursor: pointer;
      display: inline-block;
      justify-content: space-between;
      margin: -10px 10px;
    }
    
    .ContainerFlex {
      display: flex;
      justify-content: space-between;
    }
    
    #logo {
      margin-top: 0px;
      left: 0;
      margin-left: -30px;
      padding: 0px 10px;
      width: 120px;
      height: 60px;
      transition: 1s all;
    }
    #logo:hover {
      transform: translateY(-10px);
      filter: drop-shadow(3px 3px 0px black);
    }
  }
  /*  DESKTOP HALF HD QUERY*/
  @media (min-width: 1360px) and (max-width: 1600px) {
    .header {
      position: sticky;
      transition: background-color 1s ease;
      background-color: rgba(0, 0, 0, 0);
      height: 60px;
      top: 0;
      font-family: 'Segoe UI', sans-serif;
      font-size: 16px;
      letter-spacing: 3px;
      filter: drop-shadow(1px 1px 2px black);
      width: 100%;
      pointer-events: all;
      z-index: 9;
    }
    
    .hidden {
      opacity: 0;
      transform: translateX(-20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .visible {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    #social-icons img {
      width: 22px;
      height: 22px;
      margin-left: -15px;
      cursor: pointer;
    }
    #social-icons a {
      width: 10px;
      height: 10px;
      padding: 10px;
      cursor: pointer;
      display: inline-block;
      justify-content: space-between;
      margin: -10px 10px;
    }
    
    .ContainerFlex {
      display: flex;
      justify-content: space-between;
    }
    
    #logo {
      margin-top: -5px;
      margin-left: 160px;
      padding: 0px 10px;
      width: 68px;
      height: 68px;
      transition: 1s all;
    }
    #logo:hover {
      transform: translateY(-10px);
      filter: drop-shadow(3px 3px 0px black);
    }
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      margin-right: 0px;
      margin-top: 15px;
      cursor: pointer;
    }
    
    nav ul li {
      margin: 0 10px;
      cursor: pointer;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
      padding: 10px 10px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    nav ul li a:hover {
      color: rgb(255, 255, 255);
      transform: translateY(-5px);
      border-radius: 155px;
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
      cursor: pointer;
    }
    #contato-btn {
      font-family: 'Segoe UI', sans-serif;
      font-size: 18px;
      letter-spacing: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 155px;
      border-color: #00000000;
      color: #fff;
      padding: 8px 8px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    #contato-btn:hover {
      color: rgb(255, 255, 255);
      transform: translateY(-5px);
      border-radius: 155px;
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
    }
  }
    /*  DESKTOP FULL HD QUERY*/
  @media (min-width: 1601px) and (max-width: 1920px) {
    .header {
      position: sticky;
      transition: background-color 1s ease;
      background-color: rgb(0, 0, 0);
      height: 80px;
      top: 0;
      font-family: 'Geosanslight', sans-serif;
      font-size: 18px;
      letter-spacing: 3px;
      filter: drop-shadow(1px 1px 2px black);
      width: 100%;
      pointer-events: all;
      z-index: 9;
    }
    /* Estilo do nav e menu principal */
      header nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 20px;
      }

      header nav ul li {
        position: relative;
        margin: 0 20px;
      }

      /* Estilos padrão do submenu */
      /* Para Desktop: mostrar o submenu abaixo do item principal ao clicar */
      .submenu {
        display: none; /* Escondido por padrão */
        position: absolute;
        top: 100%; /* Posiciona logo abaixo do item principal */
        left: 0;
        background-color: rgb(0, 0, 0);
        padding: 10px 20px;
        width: 150px;
        border-radius: 5px;
        z-index: 99;
      }

      /* Classe para mostrar o submenu */
      .submenu.open {
        display: flex; /* Mostra o submenu */
        flex-direction: column;
      }

      .main-menu > li {
        position: relative;
      }
    
      /* Exibe o submenu ao passar o mouse no item principal */
      .main-menu > li:hover .submenu {
        opacity: 1;
        visibility: visible;
      }

      /* Mostra o submenu ao passar o mouse */
      .menu-item:hover .submenu {
        display: block;
      }

      /* Estilo dos itens do submenu */
      .submenu li {
        padding: 5px;
        margin-left: -10px;
      }

      .submenu li a {
        color: #fff;
        text-decoration: none;
      }

      .submenu li a:hover {
        color: #17EAD9; /* Exemplo de cor de hover */
      }



    .hidden {
      opacity: 0;
      transform: translateX(-20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .visible {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }

    #social-icons img {
      width: 28px;
      height: 28px;
      margin-top: 5px;
      margin-left: 0px;
      cursor: pointer;
    }
    #social-icons a {
      width: 10px;
      height: 10px;
      padding: 10px;
      cursor: pointer;
      display: inline-block;
      justify-content: space-between;
      margin: -10px 10px;
      transition: 0.5s ease;
    }
    #social-icons a:hover {
      transform: translateY(-5px);
    }
    .ContainerFlex {
      display: flex;
      justify-content: space-between;
    }
    
    #logo {
      margin-top: 0px;
      margin-left: 160px;
      padding: 0px 10px;
      width: 150px;
      height: 80px;
      transition: 1s all;
      filter: drop-shadow(0px 0px 1px #022031);
    }
    #logo:hover {
      transform: translateY(-5px);
      filter: drop-shadow(3px 3x 5px #17EAD9);
    }
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      margin-right: 50px;
      margin-top: 25px;
      cursor: pointer;
    }
    
    nav ul li {
      margin: 0 10px;
      cursor: pointer;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
      padding: 10px 10px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    nav ul li a:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      border-radius: 155px;
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
      cursor: pointer;
    }

    #header-btn {
      font-family: 'Geosanslight', sans-serif;
      font-size: 18px;
      letter-spacing: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 155px;
      border-color: #00000000;
      color: #fff;
      padding: 100px 8px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    #header-btn:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
    }

    #contato-btn {
      font-family: 'Geosanslight', sans-serif;
      font-size: 18px;
      letter-spacing: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 155px;
      border-color: #00000000;
      color: #fff;
      padding: 8px 8px;
      cursor: pointer;
      display: inline-block;
      transition: 0.9s all;
      transform: 1s ease;
    }
    
    #contato-btn:hover {
      color: #06A1B4;
      transform: translateY(-5px);
      filter: drop-shadow(10px 5px 1px rgba(0, 0, 0, 0.741));
    }
  }

      /*  SMARTPHONE PORTRAIT QUERY
        @media (min-width: 300px) and (max-width: 350px) {}

          @media (min-width: 351px) and (max-width: 415px) {}

            @media (min-width: 416px) and (max-width: 766px) {}

              /*  SMARTPHONE LANDSCAPE QUERY
                 @media (min-width: 768px) and (max-width: 1359px)
                   /*  DESKTOP HALF HD QUERY
                    @media (min-width: 1360px) and (max-width: 1600px) 
                        /*  DESKTOP FULL HD QUERY
                          @media (min-width: 1601px) and (max-width: 1920px) 
                            /*  DESKTOP 2K HD QUERY 
                              @media (min-width: 1921px) and (max-width: 2440px) {}
                                /*  DESKTOP 4K HD QUERY
                                  @media (min-width: 2441px) and (max-width: 3820px) {}
                                */